extends layout

block content

    p 
        br  
        |for the stupid fucking xorg issue resulting from discos or something else breaking X and gnome3 keyring AGAIN BECAUSE THEY DONT UPDATE SHIT
        br
        br
        |xhost +SI:localuser:root && sudo synaptic && xhost -SI:localuser:root
        br
        br
        br
        |to restrict pug to localhost you seem to have to arbitrarily modify the express-generator code 
        br
        br
        |located in node_modules/express/lib/application.js

    