extends layout

block content
  
  script(src="/javascripts/indexscript.js", type="text/javascript")

  div(id="coverdiv", class='coverpanel', style='display:none')
  div(id='contextmenudiv',style='z-index:199;display:none;width:200:height:auto;background-color:gray;text-color:black')
    div Edit
    div Filter
    div Delete Row
    div View Metadata 
  div(id='filterdialog', style='display:none')
    div Apply Filter
  // probably not reproduced exactly but pretty fucking close. nothing better to do at this point.
  // plan for a grid container with 3 items
  // one is a clear icon.
  // another is an up down icon which transitions
  // another is a number that is at maximum the number of selected columns for sort
  // all these appearing to the right of the text inline and sized appropriately
  // user clicks the up or down arrow and it sorts ascending or descending
  // icon turns pure white when selected
  // icon is black bordered in white when inactive
  // number is white on a black background and disappears, AGAIN when not selected.
  // each click results in javascript event modifying a global variable in indexscripts.js which contains
  // sort filters.
  // plan also for a drilldown view as well with subgrids reexploring css3 grid functionality sitting
  // in the same fucking place.
  // oh and if 'I' appreciates anything its usually bad news for "U"/Loki/John R Sohn
  // as usual.
  div(style="left:200px;position:absolute")
    div(class="grid-container", id="taskcontainer")
    
  // THE . AT THE END OF SCRIPT MAKES THE DIFFERENCE BETWEEN WHETHER THIS RESULTS IN AN ERROR OR RUNS
  // APPARENTLY IT INDICATES THAT YOU'RE USING THE SCRIPT TAG INSTEAD OF A JADE FUNCTION
  img(id='spinner',src="/images/ajax-loader.gif", alt="noimage",class="loading",style="display:none")
   