doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/javascripts/jquery.js",type="text/javascript")
    script(src='/javascripts/helpers.js', type='text/javascript')
    script(src='/javascripts/ColumnObject.js', type='text/javascript')
    script(src='/javascripts/FilterObject.js',type="text/javascript")
    script(src="/javascripts/datadefs.js",type="text/javascript")
    script(src='/javascripts/sortfunctions.js',type='text/javascript')
    script(src='/javascripts/filters.js',type="text/javascript")
  
  body   
    div(id='modaldiv',class='modaldiv')
      img(src='/images/modal.png',class='modalimg')
    block content
