doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    // THIS IS JADE BUT IT ACTUALLY DOES RENDER
    script(src="/javascripts/jquery.js",type="text/javascript")
    script(src="/javascripts/datadefs.js",type="text/javascript")
  
  body
    // LOOKS LIKE YOU NAME THINGS WITH PLACEHOLDERS
    block content
